# Data Science Tools and Ecosystem

Today is January 17th 2025. In this notebook, Data Science Tools and Ecosystem 
are summarized.

<b>Objectives:</b>
- Formatting texts properly on markdown cells such as headings, unordered list, and bolding a text.
- Creating a table with preferred number of columns and rows.
- Perform basic arithmetic operations in Python.
- Listing popular languages that Data Science use.
- Enumerating commonly used libraries by Data Scientists.

Some of the popular languages that Data Scientists use are:
- Python
- R Language
- Java

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Matplotlib
- Seaborn

List 3 development environment open source tools used in Data Science.

|   Data Science Tools   |
| -----------------------|
|  RStudio    |
|  Jupyter Lab            |
|  Visual Studio Code        |

### Below are a few examples of evaluating arithmetic expression in Python.

In [5]:
# This is an example of a simple arithemetic expression 
# to multilpy then add integers

(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60

hours = 200 / 60
print (hours)

3.3333333333333335

## Author: 
Rhia Lyn Austria